*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flat{
    position: relative
}
.flat>h1{
    background-color: #535766;
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateX(312px)rotate(270deg);
    position: fixed;
    top: 300px;
    right: 226px;
}
